<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>advantages</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>
     <section class="advantages">
          <div class="container">
               <div class="advantages__wrapper">
                    <div class="advantages__item">
                         <h3 class="advantages__title">10 Years of Expertise</h3>
                         <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                              eiusmod
                              tempor
                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="advantages__item">
                         <h3 class="advantages__title">Professional Boosters</h3>
                         <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                              eiusmod
                              tempor
                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="advantages__item">
                         <h3 class="advantages__title">24/7 Availability</h3>
                         <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                              eiusmod
                              tempor
                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="advantages__item">
                         <h3 class="advantages__title">Private Service</h3>
                         <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                              eiusmod
                              tempor
                              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
               </div>

          </div>
     </section>
</body>

</html>