<section class="advantages">
     <div class="container">
          <div class="advantages__wrapper">
               <div class="advantages__item">
                    <h3 class="advantages__title">10 Years of Expertise</h3>
                    <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod
                         tempor
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>
               <div class="advantages__item">
                    <h3 class="advantages__title">Professional Boosters</h3>
                    <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod
                         tempor
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>
               <div class="advantages__item">
                    <h3 class="advantages__title">24/7 Availability</h3>
                    <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod
                         tempor
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>
               <div class="advantages__item">
                    <h3 class="advantages__title">Private Service</h3>
                    <p class="advantages__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod
                         tempor
                         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>
          </div>

     </div>
</section>