<section class="article-list">
     <div class="container">
          <div class="article-list__title-header">
               <h1 class="article-list__title">Articles written personally by our team</h1>
               <div class="article-list__total-article"> Total articles:<span id="total-article">57</span>
               </div>
          </div>



          <form class="article-list__header">
               <div class="article-list__header-search">
                    <button class="article-list__submit-search" type="submit"></button>
                    <input class="article-list__search" type="search" id="site-search" name="q"
                         placeholder="Search by title...">
               </div>

               <div class="article-list__header-select">
                    <div class="custom-select">
                         <div class="custom-select__select-text">Category:</div>
                         <select>
                              <option value="0">Boosting</option>
                              <option value="1">Accounts</option>
                              <option value="2">Inventory</option>
                              <option value="3">Gameplay</option>
                         </select>
                    </div>
               </div>
          </form>


          <div class="article-list__wrapper-item">
               <!-- article-list ROW  -->
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/1.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/2.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/3.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/4.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <!-- article-list ROW  -->
               <!-- article-list ROW  -->
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/1.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/2.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/3.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/4.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <!-- article-list ROW  -->
               <!-- article-list ROW  -->
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/1.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/2.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/3.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/4.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <!-- article-list ROW  -->
               <!-- article-list ROW  -->
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/1.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/2.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/3.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/4.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <!-- article-list ROW  -->
               <!-- article-list ROW  -->
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/1.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/2.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/3.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col">
                    <div class="article-item">
                         <img class="article-item__img" src="../img/article-list/4.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <!-- article-list ROW  -->

               <!-- /article-list__wrapper-item -->
          </div>

     </div>
     <!-- container -->
</section>
<!-- /article-list -->