<!-- COMMENT-PREVIEW -->
<section class="comment-preview">
     <div class="comment-preview__wrapper">
          <div class="comment comment_pad">
               <div class="comment-header">
                    <span class="comment-header__name-user">sanya3330</span>
                    <div class="comment-header__end">
                         <button class="comment-header__trustpilot active-link">
                              <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg" alt="trustpilot"
                                   class="comment-header__trustpilot-icon">
                         </button>

                         <div class="stars-preview">
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                         </div>
                    </div>
               </div>
               <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="comment comment_pad">
               <div class="comment-header">
                    <span class="comment-header__name-user">sanya3330</span>
                    <div class="comment-header__end">
                         <button class="comment-header__trustpilot active-link">
                              <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg" alt="trustpilot"
                                   class="comment-header__trustpilot-icon">
                         </button>

                         <div class="stars-preview">
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                              <div class="fa fa-star"></div>
                         </div>
                    </div>
               </div>
               <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
     </div>
</section>
<!-- /comment-preview -->