<section class="comment-list-small">
     <div class="container container_non-p-m">
          <div class="slider">
               <div class="slider__wrapper">
                    <div class="slider__items">
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <button class="trustpilot__button active-link">
                                                  <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                                       alt="trustpilot" class="trustpilot__button-icon">
                                             </button>

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <button class="trustpilot__button active-link">
                                                  <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                                       alt="trustpilot" class="trustpilot__button-icon">
                                             </button>

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">
                                             <button class="trustpilot__button active-link">
                                                  <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                                       alt="trustpilot" class="trustpilot__button-icon">
                                             </button>

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <button class="trustpilot__button active-link">
                                                  <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                                       alt="trustpilot" class="trustpilot__button-icon">
                                             </button>

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <button class="trustpilot__button active-link">
                                                  <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                                       alt="trustpilot" class="trustpilot__button-icon">
                                             </button>

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">
                                             <button class="trustpilot__button active-link">
                                                  <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                                       alt="trustpilot" class="trustpilot__button-icon">
                                             </button>

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="slider__bottom">
                    <button class="slider__control slider__control_prev" href="#" role="button" data-slide="prev">
                         <img src="../img/svg/slider/button__prev.svg" alt="button__prev">
                    </button>
                    <button class="slider__control slider__control_next" href="#" role="button" data-slide="next">
                         <img src="../img/svg/slider/button__next.svg" alt="button__nex">
                    </button>
               </div>

          </div>
     </div>
</section>