<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>comment-preview</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>
     <!-- COMMENT-PREVIEW -->
     <section class="comment-preview">
          <div class="comment-preview__wrapper">
               <div class="comment comment_pad">
                    <div class="comment-header">
                         <span class="comment-header__name-user">sanya3330</span>
                         <div class="comment-header__end">
                              <button class="comment-header__trustpilot active-link">
                                   <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                        alt="trustpilot" class="comment-header__trustpilot-icon">
                              </button>

                              <div class="stars-preview">
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                              </div>
                         </div>
                    </div>
                    <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                         dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                         dolore
                         magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
               </div>
               <div class="comment comment_pad">
                    <div class="comment-header">
                         <span class="comment-header__name-user">sanya3330</span>
                         <div class="comment-header__end">
                              <button class="comment-header__trustpilot active-link">
                                   <img src="../img/svg/comment-preview/comment-preview__trustpilot.svg"
                                        alt="trustpilot" class="comment-header__trustpilot-icon">
                              </button>

                              <div class="stars-preview">
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                                   <div class="fa fa-star"></div>
                              </div>
                         </div>
                    </div>
                    <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                         dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                         dolore
                         magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
               </div>
          </div>
     </section>
     <!-- /comment-preview -->

     <script src="./js/main.min.js">
     </script>
</body>


</html>