<section class="comment-list comment-list-small">
     <div class="container container_non-p-m">
          <div class="comment-list__title">
               <div class="title">
                    <div class="title__text title__text_slide">Reviews about us. We are <span>trusted by</span>
                         many people!
                         <button class="trustpilot__button trustpilot__button_non-hide active-link">
                              <img class="title__arrow-trustpilot" src="../img/svg/slider/title-arrow-tustpilot.svg"
                                   alt="arrow to trustpilot">
                              <img class="trustpilot__button-icon"
                                   src="../img/svg/comment-preview/comment-preview__trustpilot.svg" alt="trustpilot">
                         </button>
                    </div>

               </div>
          </div>

          <div class="slider">
               <div class="slider__wrapper slider__wrapper_none-overflow">
                    <div class="slider__items slider__items_full-page">
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                         <div class="slider__item">
                              <div class="comment">
                                   <div class="comment-header">
                                        <span class="comment-header__name-user">sanya3330</span>
                                        <div class="comment-header__end">

                                             <div class="stars-preview">
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                                  <div class="fa fa-star"></div>
                                             </div>
                                        </div>
                                   </div>
                                   <p class="comment__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore
                                        magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="slider__bottom">
                    <button
                         class="slider__control slider__control_translateY-382 slider__control_prev slider__control_prev_right-50"
                         href="#" role="button" data-slide="prev">
                         <img src="../img/svg/slider/button__prev.svg" alt="button__prev">
                    </button>
                    <button
                         class="slider__control slider__control_translateY-382 slider__control_next slider__control_next_right-0"
                         href="#" role="button" data-slide="next">
                         <img src="../img/svg/slider/button__next.svg" alt="button__nex">
                    </button>
               </div>

          </div>
     </div>
</section>