<!DOCTYPE html>
<html lang="eng">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>faq-contacts</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

     <link rel="stylesheet" href="../styles/main.min.css">
</head>

<body>
     <%- include('./header.html') %>
     <section class="faq-list">
          <div class="container">
               <h1 class="faq-list__title">Here you can see the answers to the <span>most frequently</span> asked
                    questions.
               </h1>
               <div class="faq-list__wrapper">
                    <aside class="faq-list__aside-menu">
                         <ul class="aside-menu__naw">
                              <li class="aside-menu__naw-list active-link">
                                   <a class="aside-menu__naw-link active-link-get" href="#">General
                                        Information</a>
                              </li>
                              <li class="aside-menu__naw-list active-link">
                                   <a class="aside-menu__naw-link" href="#">Payment Methods</a>
                              </li>
                              <li class="aside-menu__naw-list active-link">
                                   <a class="aside-menu__naw-link" href="#">Elo Boosting</a>
                              </li>
                              <li class="aside-menu__naw-list active-link">
                                   <a class="aside-menu__naw-link" href="#">Account Selling</a>
                              </li>
                              <li class="aside-menu__naw-list active-link">
                                   <a class="aside-menu__naw-link" href="#">Coaching</a>
                              </li>
                         </ul>
                    </aside>
                    <!-- /faq-list__aside-menu -->
                    <div class="faq-list__ask">
                         <div class="ask__item">
                              <button class="ask__item-button active-link">Are a comand using as hacks?</button>
                              <div class="ask__item-panel ">
                                   <p class="ask__item-content">But I must explain to you how all this mistaken idea of
                                        denouncing pleasure and
                                        praising
                                        pain was born and I will give you a complete account of the system, and expound
                                        the
                                        actual
                                        teachings of the great explorer of the truth, the master-builder of human
                                        happiness.
                                        No
                                        one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
                                        because
                                        those who do not know how to pursue pleasure rationally encounter consequences
                                        that
                                        are
                                        extremely painful. Nor again is there anyone who loves or pursues or desires to
                                        obtain
                                        pain of itself, because it is pain, but because occasionally circumstances occur
                                        in
                                        which
                                        toil and pain can procure him some great pleasure. To take a trivial example,
                                        which
                                        of us
                                        ever undertakes laborious physical exercise, except to obtain some advantage
                                        from it?
                                        But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?
                                   </p>
                              </div>
                         </div>
                         <div class="ask__item">
                              <button class="ask__item-button active-link">Are a comand using as hacks?</button>
                              <div class="ask__item-panel ">
                                   <p class="ask__item-content">But I must explain to you how all this mistaken idea of
                                        denouncing pleasure and
                                        praising
                                        pain was born and I will give you a complete account of the system, and expound
                                        the
                                        actual
                                        teachings of the great explorer of the truth, the master-builder of human
                                        happiness.
                                        No
                                        one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
                                        because
                                        those who do not know how to pursue pleasure rationally encounter consequences
                                        that
                                        are
                                        extremely painful. Nor again is there anyone who loves or pursues or desires to
                                        obtain
                                        pain of itself, because it is pain, but because occasionally circumstances occur
                                        in
                                        which
                                        toil and pain can procure him some great pleasure. To take a trivial example,
                                        which
                                        of us
                                        ever undertakes laborious physical exercise, except to obtain some advantage
                                        from it?
                                        But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?
                                   </p>
                              </div>
                         </div>
                         <div class="ask__item">
                              <button class="ask__item-button active-link">Are a comand using as hacks?</button>
                              <div class="ask__item-panel ">
                                   <p class="ask__item-content">But I must explain to you how all this mistaken idea of
                                        denouncing pleasure and
                                        praising
                                        pain was born and I will give you a complete account of the system, and expound
                                        the
                                        actual
                                        teachings of the great explorer of the truth, the master-builder of human
                                        happiness.
                                        No
                                        one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
                                        because
                                        those who do not know how to pursue pleasure rationally encounter consequences
                                        that
                                        are
                                        extremely painful. Nor again is there anyone who loves or pursues or desires to
                                        obtain
                                        pain of itself, because it is pain, but because occasionally circumstances occur
                                        in
                                        which
                                        toil and pain can procure him some great pleasure. To take a trivial example,
                                        which
                                        of us
                                        ever undertakes laborious physical exercise, except to obtain some advantage
                                        from it?
                                        But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?
                                   </p>
                              </div>
                         </div>
                         <div class="ask__item">
                              <button class="ask__item-button active-link">Are a comand using as hacks?</button>
                              <div class="ask__item-panel ">
                                   <p class="ask__item-content">But I must explain to you how all this mistaken idea of
                                        denouncing pleasure and
                                        praising
                                        pain was born and I will give you a complete account of the system, and expound
                                        the
                                        actual
                                        teachings of the great explorer of the truth, the master-builder of human
                                        happiness.
                                        No
                                        one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
                                        because
                                        those who do not know how to pursue pleasure rationally encounter consequences
                                        that
                                        are
                                        extremely painful. Nor again is there anyone who loves or pursues or desires to
                                        obtain
                                        pain of itself, because it is pain, but because occasionally circumstances occur
                                        in
                                        which
                                        toil and pain can procure him some great pleasure. To take a trivial example,
                                        which
                                        of us
                                        ever undertakes laborious physical exercise, except to obtain some advantage
                                        from it?
                                        But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?
                                   </p>
                              </div>
                         </div>
                         <div class="ask__item">
                              <button class="ask__item-button active-link">Are a comand using as hacks?</button>
                              <div class="ask__item-panel ">
                                   <p class="ask__item-content">But I must explain to you how all this mistaken idea of
                                        denouncing pleasure and
                                        praising
                                        pain was born and I will give you a complete account of the system, and expound
                                        the
                                        actual
                                        teachings of the great explorer of the truth, the master-builder of human
                                        happiness.
                                        No
                                        one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but
                                        because
                                        those who do not know how to pursue pleasure rationally encounter consequences
                                        that
                                        are
                                        extremely painful. Nor again is there anyone who loves or pursues or desires to
                                        obtain
                                        pain of itself, because it is pain, but because occasionally circumstances occur
                                        in
                                        which
                                        toil and pain can procure him some great pleasure. To take a trivial example,
                                        which
                                        of us
                                        ever undertakes laborious physical exercise, except to obtain some advantage
                                        from it?
                                        But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?But
                                        who has any right to find fault with a man who chooses to enjoy a pleasure that
                                        has
                                        no
                                        annoying consequences, or one who avoids a pain that produces no resultant
                                        pleasure?
                                   </p>
                              </div>
                         </div>
                    </div>
                    <!-- /faq-list__ask -->
               </div>
          </div>
     </section>
     <!-- /faq-list -->
     <!-- FAQ-CONTACTS -->
     <section class="faq-contacts">
          <div class="container">
               <div class="faq-contacts__wrapper">
                    <h2 class="faq-contacts__title">Any more questions? Contact us.</h2>
                    <div class="feedback__links">
                         <a class="feedback__links-item active-link" href="http://#">
                              <object type="image/svg+xml" data="../img/svg/feedback__img_svg/Discord_svg.svg">
                                   <img class="feedback__links-img" src="../img/feedback__img/Discord.webp"
                                        alt="Discord link">
                              </object>
                              <span class="feedback__links-text">Write to us on Discord</span>
                         </a>
                         <a class="feedback__links-item active-link" href="http://#">
                              <object type="image/svg+xml" data="../img/svg/feedback__img_svg/Steam_svg.svg">
                                   <img class="feedback__links-img" src="../img/feedback__img/Steam.webp"
                                        alt="Steam link">
                              </object>
                              <span class="feedback__links-text">Write to us on Steam</span>
                         </a>
                         <a class="feedback__links-item active-link" href="http://#">
                              <object type="image/svg+xml" data="../img/svg/feedback__img_svg/Mail_svg.svg">
                                   <img class="feedback__links-img" src="../img/feedback__img/Mail.webp"
                                        alt="Mail link">
                              </object>
                              <span class="feedback__links-text">Mail Us</span>
                         </a>
                    </div> <!--  /feedback__links -->
               </div>

          </div>

     </section><!-- /faq-contacts -->
     <%- include('./footer.html') %>
     <script src="../js/main.min.js"></script>
</body>

</html>