<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>features</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>
     <section class="features">
          <div class="features__wrapper">
               <div class="container">
                    <div class="features__title-wrapper">
                         <div class="features__title">Our Features
                              <img class="features__img-title" src="../img/svg/features/features_new.svg"
                                   alt="img title">
                         </div>
                    </div>

                    <div class="features__wrapper-main">
                         <div class="features__col">
                              <div class="features__item">
                                   <img class="features__item-img" src="../img/svg/features/features_1.svg" alt="light">
                                   <h4 class="features__item-title">Legit made</h4>
                                   <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed
                                        do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              </div>
                              <div class="features__item">
                                   <img class="features__item-img" src="../img/svg/features/features_2.svg"" alt="
                                        star">
                                   <h4 class=" features__item-title">Pay and Play!</h4>
                                   <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed
                                        do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              </div>
                         </div>

                         <div class="features__col">
                              <div class="features__item">
                                   <img class="features__item-img" src="../img/svg/features/features_3.svg"" alt="
                                        people">
                                   <h4 class=" features__item-title">Account is yours!</h4>
                                   <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed
                                        do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              </div>
                              <div class="features__item">
                                   <img class="features__item-img" src="../img/svg/features/features_4.svg"" alt="
                                        clock">
                                   <h4 class=" features__item-title">Instant delivery</h4>
                                   <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed
                                        do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              </div>
                         </div>

                    </div><!-- /features__wrapper -->
               </div>
          </div>
     </section>
     <script src="./js/main.min.js">
     </script>
</body>

</html>