<section class="features">
     <div class="features__wrapper">
          <div class="container">
               <div class="features__title-wrapper">
                    <div class="features__title">Our Features
                         <img class="features__img-title" src="../img/svg/features/features_new.svg" alt="img title">
                    </div>
               </div>

               <div class="features__wrapper-main">
                    <div class="features__col">
                         <div class="features__item">
                              <img class="features__item-img" src="../img/svg/features/features_1.svg" alt="light">
                              <h4 class="features__item-title">Legit made</h4>
                              <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                   sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                         </div>
                         <div class="features__item">
                              <img class="features__item-img" src="../img/svg/features/features_2.svg"" alt=" star">
                              <h4 class=" features__item-title">Pay and Play!</h4>
                              <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                   sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                         </div>
                    </div>

                    <div class="features__col">
                         <div class="features__item">
                              <img class="features__item-img" src="../img/svg/features/features_3.svg"" alt=" people">
                              <h4 class=" features__item-title">Account is yours!</h4>
                              <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                   sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                         </div>
                         <div class="features__item">
                              <img class="features__item-img" src="../img/svg/features/features_4.svg"" alt=" clock">
                              <h4 class=" features__item-title">Instant delivery</h4>
                              <p class="features__subText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                   sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                         </div>
                    </div>

               </div><!-- /features__wrapper -->
          </div>
     </div>
</section>