<!-- FOOTER -->
<footer class="footer">
     <div class="container">
          <div class="footer-top">
               <div class="footer-top__log">
                    <object type="image/svg+xml" data="./img/svg/footer/footer__logo.svg">
                         <img class="feedback__links-img" src="./img/footer/footer__logo.webp" alt="footer logo">
                    </object>
               </div>

               <div class="social-link">
                    <a class="social-link__item active-link" href="#" target="_blank">
                         <img src="./img/svg/social__link/facebook.svg"></img>
                    </a>
                    <a class="social-link__item active-link" href="#" target="_blank">
                         <img src="./img/svg/social__link/instagram.svg"></img>
                    </a>
               </div>
          </div>

          <div class="footer-main">
               <ul class="footer-main__item">
                    <li class="footer-main__text footer-main__text_title">Boosting</li>
                    <li class="footer-main__text">CS:GO Boosting</li>
                    <li class="footer-main__text">FaceIt Boosting</li>
                    <li class="footer-main__text">ESEA Boosting</li>
                    <li class="footer-main__text">Esportal Boosting</li>
               </ul>
               <ul class="footer-main__item">
                    <li class="footer-main__text footer-main__text_title">Shop</li>
                    <li class="footer-main__text">CS:GO Smurf Accounts</li>
                    <li class="footer-main__text">FaceIt Accounts</li>
                    <li class="footer-main__text">Esea Accounts</li>
               </ul>
               <ul class="footer-main__item">
                    <li class="footer-main__text footer-main__text_title">Other</li>
                    <li class="footer-main__text">Blog</li>
                    <li class="footer-main__text">FAQ</li>
                    <li class="footer-main__text">Contacts</li>
                    <li class="footer-main__text">Terms of service</li>
               </ul>

               <ul class="footer-main__item ">
                    <li class="footer-main__text footer-main__text_title">
                         <span>Contacts</span>
                    </li>
                    <li class="footer-main__text footer-main__text_link">
                         <a class="footer-main__link active-link active" href="mailto:info@boostingworld.gg"
                              target="_blank">
                              <img src="./img/svg/feedback__img_svg/Mail_svg.svg" alt="Mail">
                              <span>info@boostingworld.gg</span>
                         </a>
                    </li>
                    <li class="footer-main__text footer-main__text_link">
                         <a class="footer-main__link">
                              <img src="./img/svg/feedback__img_svg/Discord_svg.svg" alt="Discord">
                              <span>boostingworld#0001</span>
                         </a>

                    </li>
                    <li class="footer-main__text  footer-main__text_link ">
                         <a class="footer-main__link footer-main__link_decor-none active-link" href="Steam"
                              target="_blank">
                              <img src="./img/svg/feedback__img_svg/Steam_svg.svg" alt="Steam">
                              <span>Steam</span>
                         </a>
                    </li>
               </ul>

               <div class="footer-main__item">
                    <span class="footer-main__text footer-main__text_title">Boosting</span>
                    <img src="./img/svg/footer/footer__payment.svg" alt="Footer payment"></img>
               </div>
          </div>
          <!-- footer-main -->
          <div class="footer-bottom">
               <p class="footer-bottom__copyright">© Copyrights BoostingWorld 2021. All rights reserved.
                    Counter-Strike:
                    Global Offensive is a registered trademark of Valve Corporation Company. We are in no way
                    affiliated
                    with, associated with or endorsed by Valve Corporation.</p>
          </div>
     </div>
</footer>