<section class="personal-cabinet-info">
     <div class="container">
          <div class="personal-cabinet-info__wrapper">
               <div class="title-text">
                    <h1 class="title-text__intro-title">
                         <span class="title-text__title_green">Pay</span> and
                         <span class="title-text__title_blue">follow</span> the
                         process in your personal
                         cabinet.</h1>
                    <h2 class="title-text__intro-subTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                         do
                         eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h2>
               </div>
          </div>
     </div>
</section>