<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>personal-cabinet-info</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>
     <section class="personal-cabinet-info">
          <div class="container">
               <div class="personal-cabinet-info__wrapper">
                    <div class="title-text">
                         <h1 class="title-text__intro-title">
                              <span class="title-text__title_green">Pay</span> and
                              <span class="title-text__title_blue">follow</span> the
                              process in your personal
                              cabinet.</h1>
                         <h2 class="title-text__intro-subTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              sed
                              do
                              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h2>
                    </div>
               </div>
          </div>
     </section>

     <script src="./js/main.min.js">
     </script>
</body>

</html>