<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>product-list-recomendation</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>
     <section class="product-list-recomendation">
          <div class="container">
               <h1 class="product-list-recomendation__title">
                    You may be <span>interested</span> in
               </h1>
               <div class="products-list">
                    <div class="product-list__col">
                         <div class="product">
                              <img class="product__img-title"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                   alt="img title">
                              <img class="product__img-discount"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                   alt="img discount">

                              <div class="product__title">Account FaceIt 8-10 level</div>
                              <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                   Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                              <button class="product__buy active-link">
                                   <img class="product__buy-img"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                        alt="recomendation buy">
                                   <span class="product__buy-text">Buy Now:</span>
                                   <span class="product__buy-coast">280$</span>
                              </button>
                              <button class="product__add active-link">
                                   <span>Add To Cart</span>
                              </button>
                         </div>
                    </div>
                    <div class="product-list__col">
                         <div class="product">
                              <img class="product__img-title"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                   alt="img title">
                              <img class="product__img-discount"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                   alt="img discount">

                              <div class="product__title">Account FaceIt 8-10 level</div>
                              <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                   Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                              <button class="product__buy active-link">
                                   <img class="product__buy-img"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                        alt="recomendation buy">
                                   <span class="product__buy-text">Buy Now:</span>
                                   <span class="product__buy-coast">280$</span>
                              </button>
                              <button class="product__add active-link">
                                   <span>Add To Cart</span>
                              </button>
                         </div>
                    </div>
                    <div class="product-list__col">
                         <div class="product">
                              <img class="product__img-title"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                   alt="img title">
                              <img class="product__img-discount"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                   alt="img discount">

                              <div class="product__title">Account FaceIt 8-10 level</div>
                              <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                   Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                              <button class="product__buy active-link">
                                   <img class="product__buy-img"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                        alt="recomendation buy">
                                   <span class="product__buy-text">Buy Now:</span>
                                   <span class="product__buy-coast">280$</span>
                              </button>
                              <button class="product__add active-link">
                                   <span>Add To Cart</span>
                              </button>
                         </div>
                    </div>
                    <div class="product-list__col">
                         <div class="product">
                              <img class="product__img-title"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                   alt="img title">
                              <img class="product__img-discount"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                   alt="img discount">

                              <div class="product__title">Account FaceIt 8-10 level</div>
                              <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                   Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                              <button class="product__buy active-link">
                                   <img class="product__buy-img"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                        alt="recomendation buy">
                                   <span class="product__buy-text">Buy Now:</span>
                                   <span class="product__buy-coast">280$</span>
                              </button>
                              <button class="product__add active-link">
                                   <span>Add To Cart</span>
                              </button>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <script src="./js/main.min.js">
     </script>
</body>

</html>