<section class="product-list-catalog">
     <div class="container">
          <div class="product-list-catalog__wrapper">
               <aside class="product-list-catalog__aside-menu">
                    <div class="product-filter-panel">
                         <h2 class="product-filter-panel__title">Sorting</h2>
                         <div class="product-sorting">
                              <div class="product-sorting__chose">Sort by:</div>
                              <select class="product-sorting__select" id="select" name="product-list-sorting">
                                   <div class="product-sorting__sort-group" label="Sort by:">
                                        <option>Boosting</option>
                                        <option>Boosting</option>
                                        <option>Boosting</option>
                                   </div>
                              </select>
                         </div>

                         <h2 class="product-filter-panel__title">Categories</h2>

                         <div class="product-filter">
                              <a href="#" class="product-filter__categories active-link" data-filter="all">All</a>
                              <a href="#" class="product-filter__categories active-link" data-filter="#">Faceit Level
                                   10+</a>
                              <a href="#" class="product-filter__categories active-link active-categories"
                                   data-filter="#">Faceit Level
                                   4-9</a>
                              <a href="#" class="product-filter__categories active-link" data-filter="#">Faceit
                                   Ready</a>
                              <a href="#" class="product-filter__categories active-link" data-filter="#">ESEA Ranked</a>
                              <a href="#" class="product-filter__categories active-link active-categories"
                                   data-filter="#">With Prime</a>
                              <a href="#" class="product-filter__categories active-link" data-filter="#">1000+ Faceit
                                   Points</a>
                         </div>
                    </div>
               </aside><!-- /product-list -->
               <div class="product-list-catalog__main">
                    <div class="products-list products-list_catalog ">
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                         <div class="product-list__col product-list__col_catalog">
                              <div class="product">
                                   <img class="product__img-title"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_title.svg"
                                        alt="img title">
                                   <img class="product__img-discount"
                                        src="../img/svg/product-list-recomendation/product-list-recomendation_discount.svg"
                                        alt="img discount">

                                   <div class="product__title">Account FaceIt 8-10 level</div>
                                   <div class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        Lorem ipsum dolor sit amet, id number of something pussy girls oh my god.</div>
                                   <button class="product__buy  active-link">
                                        <img class="product__buy-img"
                                             src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                             alt="recomendation buy">
                                        <span class="product__buy-text">Buy Now:</span>
                                        <span class="product__buy-coast">280$</span>
                                   </button>
                                   <button class="product__add active-link">
                                        <span>Add To Cart</span>
                                   </button>
                              </div>
                         </div>
                    </div>
               </div>

          </div> <!-- /product-list-catalog__wrapper -->

     </div>
     </div>
</section>