<section class="product-item">
     <div class="container">
          <div class="product-item__wrapper-header">
               <div class="slider">
                    <div class="slider__wrapper">
                         <div class="slider__items">
                              <div class="slider__item">
                                   <img class="product-item__img-slider"
                                        src="../img/product-item/product-item__img-slider.webp" alt="product item">
                              </div>
                              <div class="slider__item">
                                   <img class="product-item__img-slider"
                                        src="../img/product-item/product-item__img-slider.webp" alt="product item">
                              </div>
                              <div class="slider__item">
                                   <img class="product-item__img-slider"
                                        src="../img/product-item/product-item__img-slider.webp" alt="product item">
                              </div>
                              <div class="slider__item">
                                   <img class="product-item__img-slider"
                                        src="../img/product-item/product-item__img-slider.webp" alt="product item">
                              </div>
                         </div>
                         <button class="slider__control slider__control_prev" href="#" role="button" data-slide="prev">
                              <img src="../img/svg/slider/button__prev.svg" alt="button__prev">
                         </button>
                         <button class="slider__control slider__control_next" href="#" role="button" data-slide="next">
                              <img src="../img/svg/slider/button__next.svg" alt="button__nex">
                         </button>
                    </div>
               </div>

               <div class="faceit-by">
                    <div class="product-filter product-filter_faceit-by">
                         <a href="#" class="product-filter__categories active-link" data-filter="#">Faceit Level 4-9</a>
                         <a href="#" class="product-filter__categories active-link" data-filter="#">With Prime</a>
                    </div>
                    <div class="product product_faceit-by">
                         <div class="product__title">FaceIt Account 10 level 2010 y</div>
                         <div class="product__text">Includes Steam/Faceit account and native email. 1000 FP, 35+
                              Matches, KD 1.8+, 55 Hours, Privat Rank 1</div>
                         <button class="product__buy active-link">
                              <img class="product__buy-img"
                                   src="../img/svg/product-list-recomendation/product-list-recomendation_buy.svg"
                                   alt="recomendation buy">
                              <span class="product__buy-text">Buy Now:</span>
                              <span class="product__buy-coast">280$</span>
                         </button>
                         <button class="product__add active-link">
                              <span>Add To Cart</span>
                         </button>
                    </div>
               </div>
          </div><!-- /product-item__wrapper-header -->

          <div class="fecit-describ">
               <div class="fecit-describ__header">
                    <h3 class="fecit-describ__title">
                         After purchasing this product you will receive the following:
                    </h3>
                    <div class="fecit-describ__following-item">
                         <img src="../img/svg/product-item/product-item__icon-1.svg" alt="steam login and password">
                         Faceit/Steam login and password
                    </div>
                    <div class="fecit-describ__following-item">
                         <img src="../img/svg/product-item/product-item__icon-2.svg" alt="address and password">
                         Original e-mail address and password
                    </div>
               </div>

               <p class="fecit-describ__paragraph">
                    <span>ATTENTION!</span> We don’t buy or resell other people’s accounts. All the accounts
                    are made directly by the Eloboss team. Thus, we guarantee a safe future of your steam account — you
                    shouldn’t be worried about the account you buy. Since your steam account does not have any payment
                    history — you can make it the main account or test yourself at the new level without the fear of
                    losing your account. But let us remind you that once we supply the product, we are no longer
                    responsible for anything that may happen to your account. For example, we do not guarantee that you
                    will not lose an elo because of former teammates who participated in matches with a purchased
                    account and received a ban that implies an elo rollback (Such cases are very rare and occur by
                    chance). Also, we do not insure the purchased account against bans, since the accounts that we sell
                    cannot be banned after some time, like any other Faceit/ESEA accounts - Accounts receive bans upon
                    violation. We strongly disadvise buying a Faceit account if you have already received a ban on your
                    computer for the following reasons — Cheating, Ban Evasion, Multiple Accounts, or Boosting Service.
                    Our consultants will instruct you as to how to avoid a second ban if you are our customer.
               </p>
          </div>

     </div><!-- container -->
</section><!-- /product-item -->