<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>purchase-error page</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <link rel="stylesheet" href="../styles/main.min.css">
    </head>
    <body>
        <section class="purchase-status purchase-status_bg-error">

     <div class="purchase-status__wrapper">
          <div class="purchase-status__header">
               <div class="purchase-status__img-status purchase-status__img-status_bg-color-error">
                    <object type="image/svg+xml" data="../img/svg/status-purchase__error.svg">
                         <img class="purchase-error__img-success"
                              src="../img/status-purchase_success/status-purchase__error.png" alt="status purchase error">
                    </object>
               </div>
          </div>

          <!-- WISHES-TEXT -->
<div class="wishes-text">
     <h1 class="wishes-text__title">Oops! Something went wrong.</h1>
     <h2 class="wishes-text__subtitle">Contact us at the contacts below to discuss your order in more detail and get to
          work.</h2>
</div>
<!-- /wishes-text -->

          <!--  FEEDBACK__LINKS -->
<div class="feedback-links">
     <a class="feedback-links__item active-link" href="http://#">
          <object type="image/svg+xml" data="../img/svg/feedback__img/feedback__links-discord.svg">
               <img class="feedback-links__img" src="../img/feedback__img/feedback__links-discord.png"
                    alt="Discord link">
          </object>
          <span class="feedback-links__text">Write to us on Discord</span>
     </a>
     <a class="feedback-links__item active-link" href="http://#">
          <object type="image/svg+xml" data="../img/svg/feedback__img/feedback__links-steam.svg">
               <img class="feedback-links__img" src="../img/feedback__img/feedback__links-steam.png" alt="Steam link">
          </object>
          <span class="feedback-links__text">Write to us on Steam</span>
     </a>
     <a class="feedback-links__item active-link" href="http://#">
          <object type="image/svg+xml" data="../img/svg/feedback__img/feedback__links-mail.svg">
               <img class="feedback__links-img" src="../img/feedback__img/feedback__links-Mail.png" alt="Mail link">
          </object>
          <span class="feedback-links__text">Mail Us</span>
     </a>
</div> <!--  /feedback__links -->

     </div><!-- /purchase-status__wrapper -->
</section><!-- /purchase-status -->
        <script src="../js/main.min.js"></script>
    </body>
</html>
