<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>service-hero</title>
     <meta name="theme-color" content="#fff">
     <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
     <link rel="stylesheet" href="./styles/main.min.css">
</head>

<body>
     <section class="service-hero">
          <div class="boost">
               <div class="container">
                    <div class="boost__wrapper">
                         <div class="boost-title">
                              <div class="boost-title__wrapper">
                                   <img class="boost-title__icon-img" src="../img/svg/boost-title/boost-title_1.svg"
                                        alt="boost title img">
                                   <h1 class="boost-title__intro-title">
                                        Boost your <span class="boost-title__title_orange">FaceIt</span> account easily
                                        with
                                        our
                                        boosters
                                        team</h1>
                                   <h2 class="boost-title__intro-subTitle">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit, sed
                                        do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam.
                                   </h2>
                              </div>
                         </div><!-- boost-title -->
                    </div>
               </div>
     </section>
     <script src="./js/main.min.js">
     </script>
</body>

</html>