<section class="service-hero">
     <div class="boost">
          <div class="container">
               <div class="boost__wrapper">
                    <div class="boost-title">
                         <div class="boost-title__wrapper">
                              <img class="boost-title__icon-img" src="../img/svg/boost-title/boost-title_1.svg"
                                   alt="boost title img">
                              <h1 class="boost-title__intro-title">
                                   Boost your <span class="boost-title__title_orange">FaceIt</span> account easily
                                   with
                                   our
                                   boosters
                                   team</h1>
                              <h2 class="boost-title__intro-subTitle">Lorem ipsum dolor sit amet, consectetur
                                   adipiscing
                                   elit, sed
                                   do
                                   eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                   veniam.
                              </h2>
                         </div>
                    </div><!-- boost-title -->
               </div>
          </div>
</section>