<section class="checkout-form">
     <h3 class="checkout-form__title">Fill the information</h3>

     <form method="post" class="checkout-form__wrapper">
          <div class="checkout-form__group checkout-form__group_input">
               <input class="checkout-form__input" name="name" type="text" id="input-name" placeholder="Name"
                    required="">
          </div>
          <div class="checkout-form__group checkout-form__group_input">
               <input class="checkout-form__input" name="email" type="email" id="input-email" placeholder="E-mail"
                    required="">
          </div>
          <div class="checkout-form__group checkout-form__group_input">
               <input class="checkout-form__input" name="phone" type="tel" id="input-phone" placeholder="Contacts"
                    required="">
          </div>

          <div class="checkout-form__group">
               <textarea class="checkout-form__textarea" name="messages" id="input-text" type="text"
                    placeholder="Note"></textarea>
          </div>

          <label class="checkout-form__checkbox">
               <input type="checkbox" name="color-1" value="Streaming">
               <span>I confirm that all the entered information is accurate and I agree to your terms of use</span>
          </label>
          <div class="checkout-form__footer">
               <button class="checkout-form__button checkout-form__button_first" type="submit">
                    <img class="checkout-form__button-img1" src="../img/svg/checkout/checkout-form__button-pay-1.svg"
                         alt="button pay 1">
                    <img class="checkout-form__button-img2" src="../img/svg/checkout/checkout-form__button-scial-1.svg"
                         alt="button social">
               </button>
               <button class="checkout-form__button checkout-form__button_second" type="submit">
                    <img class="checkout-form__button-img1" src="../img/svg/checkout/checkout-form__button-pay-2.svg"
                         alt="button pay 1">
                    <img class="checkout-form__button-img2" src="../img/svg/checkout/checkout-form__button-scial-2.svg"
                         alt="button social">
               </button>
          </div>
     </form>
</section>