<div class="contact__form">
     <h2 class="contact__form-title">
          Leave your information. <br> We'll get back to you shortly.
     </h2>
     <form class="form" method="post">
          <div class="form__group">
               <input class="form__input" name="name" type="text" id="input-name" placeholder="Name" required="">
          </div>
          <div class="form__group">
               <input class="form__input" name="email" type="email" id="input-email" placeholder="Address e-mail"
                    required="">
          </div>
          <div class="form__group">
               <div class="form__group-wrapper">
                    <select class="form__select">
                         <option value="1">Subject</option>
                         <option value="2">Subject1</option>
                         <option value="3">Subject2</option>
                         <option value="4">Subject3</option>
                    </select>
               </div>

          </div>
          <div class="form__group">
               <textarea class="form__textarea" name="messages" id="input-text" type="text"
                    placeholder="Message"></textarea>
          </div>
          <button id="form__btn" class="form__submit" type="submit">
               Send Message
          </button>
     </form>
</div>
<!-- contact__form -->