<div class="contact-social">
     <h1 class="contact-social__title">
          Fill out the form or you can email us yourself on any of the social networks below.
     </h1>

     <div class="contact-social__links">
          <a class="contact-social__links-item active-link" href="#">
               <object class="contact-social__links-img" type="image/svg+xml"
                    data="../img/svg/feedback__img/feedback__links-discord.svg">
                    <img src="../img/feedback__img/feedback__links-discord.webp" alt="Discord link">
               </object>
               <span class="contact-social__links-text">Write to us on Discord</span>
          </a>
          <a class="contact-social__links-item active-link" href="#">
               <object class="contact-social__links-img" type="image/svg+xml"
                    data="../img/svg/feedback__img/feedback__links-steam.svg">
                    <img src="../img/feedback__img/feedback__links-steam.webp" alt="Steam link">
               </object>
               <span class="contact-social__links-text">Write to us on Steam</span>
          </a>
          <a class="contact-social__links-item active-link" href="#">
               <object class="contact-social__links-img" type="image/svg+xml"
                    data="../img/svg/feedback__img/feedback__links-mail.svg">
                    <img src="../img/feedback__img/feedback__links-Mail.webp" alt="Mail link">
               </object>
               <span class="contact-social__links-text">Mail Us</span>
          </a>
          <a class="contact-social__links-item active-link" href="#">
               <object class="contact-social__links-img" type="image/svg+xml"
                    data="../img/svg/feedback__img/feedback__links-facebook.svg">
                    <img src="../img/feedback__img/feedback__links-facebook.webp" alt="Mail link">
               </object>
               <span class="contact-social__links-text">Write to us on Facebook</span>
          </a>
          <a class="contact-social__links-item active-link" href="#">
               <object class="contact-social__links-img" type="image/svg+xml"
                    data="../img/svg/feedback__img/feedback__links-instagram.svg">
                    <img src="../img/feedback__img/feedback__links-instagram.webp" alt="Mail link">
               </object>
               <span class="contact-social__links-text">Write to us on Instagram</span>
          </a>
     </div> <!--  /contact-social__links -->

</div>
<!-- /contact__feedback -->