<div class="boost boost_csgo">
     <!-- <img class="boost__bg-img" src="../img/service-hero/service-hero__bg.jpg" alt="service-hero background"> -->
     <div class="container">
          <div class="boost__wrapper">
               <div class="boost-title">
                    <div class="boost-title__wrapper boost-title__wrapper_csgo">
                         <img class="boost-title__icon-img" src="../img/svg/boost-title/boost-title_2.svg"
                              alt="boost title img">
                         <h1 class="boost-title__intro-title">Boost your
                              <span class="boost-title__title_csgo">CS:GO</span>
                              account easily with our boosters team
                         </h1>
                         <h2 class="boost-title__intro-subTitle">Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                              minim
                              veniam.
                         </h2>
                    </div>
               </div><!-- boost-title -->

               <form class="service-form">
                    <div class="service-form__start">
                         <h3 class="service-form__title">Your level</h3>
                         <div class="service-form__group">
                              <img src="../img/service-form/service-form__yourlevel-csgo.png" alt="yourlevel csgo">

                              <div class="custom-select">
                                   <select>
                                        <option value="0">Gold Star ll</option>
                                        <option value="1">Gold Star lll</option>
                                   </select>
                              </div>
                         </div>
                         <h3 class="service-form__title">Required level</h3>
                         <div class="service-form__group">
                              <img src="../img/service-form/service-form__requiredlevel-csgo.png"
                                   alt="requiredlevel csgo">

                              <div class="custom-select">
                                   <select>
                                        <option value="0">Magistr</option>
                                        <option value="2">Transistr</option>
                                        <option value="3">Pipistr</option>
                                        <option value="4">Saylor Moon</option>
                                   </select>
                              </div>
                         </div>
                         <div class="service-form__footer">
                              <button class="service-form__button service-form__button_csgo active-link">

                                   <span class="service-form__button-light service-form__button-light_csgo"></span>
                                   <span class="service-form__button-text">Make Order</span>
                              </button>
                              <div class="service-form__total">
                                   <span class="service-form__total-text">Total</span>
                                   <span class="service-form__total-coast service-form__total-coast_csgo">4128$</span>
                              </div>
                         </div>
                    </div><!-- /service-form__start -->

                    <div class="service-form__end service-form__end_csgo">
                         <ul class="service-form__list-first">
                              <li> <a class="active-link" href="#"> By Rank</a></li>
                              <li> <a class="active-link" href="#"> By Wins</a></li>
                              <li> <a class="active-link" href="#"> Placement Matches</a></li>
                         </ul>
                         <ul class="service-form__list-second service-form__list-second_csgo">
                              <li> <a class="active-link active" href="#"">Wingman by Rank </a></li>
                              <li> <a class=" active-link" href="#"">Wingman by Wins </a></li>
                              <li> <a class=" active-link" href="#"">Wingman Placement Matches</a></li>
                         </ul>
                    </div>
               </form><!-- /service-form-->
          </div><!-- boost__wrapper -->
          
          <div class=" additional-services__border-wrapper additional-services__border-wrapper_csgo">
                                        <form class="additional-services">
                                             <label class="additional-services__title additional-services__title_csgo"
                                                  for="Additional services">Additional services</label>
                                             <div class="additional-services__wrapper">
                                                  <div class="additional-services__item">
                                                       <label class="custom-checkbox custom-checkbox_csgo">
                                                            <input type="checkbox" name="color-1" value="Streaming">
                                                            <span>Boost Streaming</span>
                                                       </label>
                                                       <button class="additional-services__info-button">
                                                       </button>
                                                  </div>
                                                  <div class="additional-services__item">
                                                       <label class="custom-checkbox custom-checkbox_csgo">
                                                            <input type="checkbox" name="color-1" value="Streaming">
                                                            <span>Boost Streaming</span>
                                                       </label>
                                                       <button class="additional-services__info-button">
                                                       </button>
                                                  </div>
                                                  <div class="additional-services__item">
                                                       <label class="custom-checkbox custom-checkbox_csgo">
                                                            <input type="checkbox" name="color-1" value="Streaming">
                                                            <span>Boost Streaming</span>
                                                       </label>
                                                       <button class="additional-services__info-button">
                                                       </button>
                                                  </div>
                                                  <div class="additional-services__item">
                                                       <label class="custom-checkbox custom-checkbox_csgo">
                                                            <input type="checkbox" name="color-1" value="Streaming">
                                                            <span>Boost Streaming</span>
                                                       </label>
                                                       <button class="additional-services__info-button">
                                                       </button>
                                                  </div>
                                                  <div class="additional-services__item">
                                                       <label class="custom-checkbox custom-checkbox_csgo">
                                                            <input type="checkbox" name="color-1" value="Streaming">
                                                            <span>Boost Streaming</span>
                                                       </label>
                                                       <button class="additional-services__info-button">
                                                       </button>
                                                  </div>
                                             </div>
                                        </form>
                    </div>
          </div><!-- container -->
          <div class="boost__footer-block"></div>
     </div><!-- boost-->