<!-- FAQ-CONTACTS -->
<section class="faq-contacts">
     <div class="container">
          <div class="faq-contacts__wrapper">
               <h2 class="faq-contacts__title">Any more questions? Contact us.</h2>
               <div class="feedback__links">
                    <a class="feedback__links-item active-link" href="http://#">
                         <object type="image/svg+xml" data="../img/svg/feedback__img_svg/Discord_svg.svg">
                              <img class="feedback__links-img" src="../img/feedback__img/Discord.webp"
                                   alt="Discord link">
                         </object>
                         <span class="feedback__links-text">Write to us on Discord</span>
                    </a>
                    <a class="feedback__links-item active-link" href="http://#">
                         <object type="image/svg+xml" data="../img/svg/feedback__img_svg/Steam_svg.svg">
                              <img class="feedback__links-img" src="../img/feedback__img/Steam.webp" alt="Steam link">
                         </object>
                         <span class="feedback__links-text">Write to us on Steam</span>
                    </a>
                    <a class="feedback__links-item active-link" href="http://#">
                         <object type="image/svg+xml" data="../img/svg/feedback__img_svg/Mail_svg.svg">
                              <img class="feedback__links-img" src="../img/feedback__img/Mail.webp" alt="Mail link">
                         </object>
                         <span class="feedback__links-text">Mail Us</span>
                    </a>
               </div> <!--  /feedback__links -->
          </div>

     </div>
</section><!-- /faq-contacts -->