<!-- HEADER -->
<header id="header" class="header">

     <div class="header__layout container">
          <div class="header__start">
               <a href="#" class="logo header__logo">
                    <object data="./img/svg/header-logo__logo.svg" type="image/svg+xml"></object>
               </a>


               <nav class="nav">
                    <ul class="menu-nav">
                         <li class="menu-nav__item">
                              <a class="menu-nav__link active-link">Boosting</a>
                              <span class="menu-nav__arrow arrow"></span>
                         </li>
                         <li class="menu-nav__item">
                              <a class="menu-nav__link menu-nav__link_icon active-link">Account Store</a>
                              <span class="menu-nav__arrow arrow"></span>
                         </li>
                         <li class="menu-nav__item">
                              <a class="menu-nav__link active-link" href="/blog">Blog</a>
                         </li>
                         <li class="menu-nav__item">
                              <a class="menu-nav__link active-link" href="/faq">FAQ</a>
                         </li>
                         <li class="menu-nav__item">
                              <a class="menu-nav__link active-link" href="/contact">Contacts</a>
                         </li>
                    </ul>
               </nav>
          </div>

          <div class="header__end">
               <div class="currency">
                    <span class="currency__text">Currency:</span>
                    <select class="currency-selector">
                         <option data-symbol="₽" selected>₽</option>
                         <option data-symbol="€">€</option>
                         <option data-symbol="$">$</option>
                    </select>
               </div>

               <button class="members-area active-link">
                    <object data="./img/svg/members-area__icon.svg " type="image/svg+xml"></object>
                    <span class="members-area__user">Members Area</span>
               </button>

               <button class="card" type="submit">
                    <img class="card__img" src="./img/svg/card.svg" alt="card">
               </button>

               <button class="header__menu-button" id="button__toggle" type="button">
                    <img src="./img/svg/header__menu-button.svg" alt="menu button">
               </button>

          </div><!-- /header__end -->

     </div><!-- /header__layout -->
     <!-- /header__layout -->

     <ul class="sub-menu">
          <div class="container">
               <ul class="sub-menu__wrapper">
                    <li><a href="/csgo-boosting" class="sub-menu__link active-link">CS:GO Boosting</a></li>
                    <li><a href="/facelt-boosting" class="sub-menu__link active-link">Faceit Boosting</a></li>
                    <li><a href="/esea-boosting" class="sub-menu__link active-link">ESEA Boosting</a></li>
                    <li><a href="/esportal-boosting" class="sub-menu__link active-link">Esportal Boosting</a></li>
               </ul>
          </div>
     </ul>
</header>
<!-- /header -->