<section class="home-service">
     <div class="container">
          <div class="home-service__wrapper">


               <div class="service-list__wrapper">
                    <div class="service-list__col service-list__col_home">
                         <div class="service-list__item service-list__item_rad-grad-purpure">
                              <h3 class="service-list__item-title">
                                   CS:GO Boosting
                              </h3>
                              <h4 class="service-list__item-subtitle">
                                   The cybersports arena
                              </h4>
                              <a class="service-list__link service-list__link_color-purpure " href="#"
                                   target="_blank">View
                                   details</a>
                              <img class="service-list__item-img" src="../img/svg/service-list/1.svg" alt="">
                         </div>
                    </div>
                    <div class="service-list__col service-list__col_home">
                         <div class="service-list__item service-list__item_rad-grad-orange">
                              <h3 class="service-list__item-title">
                                   FaceIt Boosting
                              </h3>
                              <h4 class="service-list__item-subtitle">
                                   The cybersports arena
                              </h4>
                              <a class="service-list__link service-list__link_color-orange " href="#"
                                   target="_blank">View
                                   details</a>
                              <img class="service-list__item-img" src="../img/svg/service-list/2.svg" alt="">
                         </div>
                    </div>
                    <div class="service-list__col service-list__col_home">
                         <div class="service-list__item  service-list__item_rad-grad-green">
                              <h3 class="service-list__item-title">
                                   CS:GO Boosting
                              </h3>
                              <h4 class="service-list__item-subtitle">
                                   The cybersports arena
                              </h4>
                              <a class="service-list__link service-list__link_color-green" href="#" target="_blank">View
                                   details</a>
                              <img class="service-list__item-img" src="../img/svg/service-list/3.svg" alt="">
                         </div>
                    </div>

                    <div class="service-list__col service-list__col_home">
                         <div class="service-list__item service-list__item_rad-grad-blue">
                              <h3 class="service-list__item-title">
                                   CS:GO Boosting
                              </h3>
                              <h4 class="service-list__item-subtitle">
                                   The cybersports arena
                              </h4>
                              <a class="service-list__link service-list__link_color-blue" href="#" target="_blank">View
                                   details</a>
                              <img class="service-list__item-img" src="../img/svg/service-list/4.svg" alt="">
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="home-service__footer"></div>
</section>