<section class="home-interest">
     <div class="container">
          <div class="home-interest__title">
               <h2 class="home-interest__title-text">You will be <span>interested</span> to read our articles!</h2>
          </div>


          <div class="article-list__wrapper-item">
               <!-- article-list ROW  -->
               <div class="article-list__col article-list__col_home">
                    <div class="article-item article-item_home">
                         <img class="article-item__img" src="../img/article-list/1.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col article-list__col_home">
                    <div class="article-item  article-item_home">
                         <img class="article-item__img" src="../img/article-list/2.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col article-list__col_home">
                    <div class="article-item  article-item_home">
                         <img class="article-item__img" src="../img/article-list/3.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <div class="article-list__col article-list__col_home">
                    <div class="article-item  article-item_home">
                         <img class="article-item__img" src="../img/article-list/4.jpg"
                              alt="img New Account Boost Technology">
                         <div class="article-item__content">
                              <h2 class="article-item__title">New Account Boost Technology</h2>
                              <p class="article-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                   do
                                   eiusmod
                                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                              <a class="article-item__link active-link" href="#" target="_blank">Real All</a>
                         </div>

                    </div>
               </div>
               <!-- article-list ROW  -->
          </div>
     </div>
</section>