<section class="home-header">
     <div class="container">
          <div class="home-header__wrapper">
               <div class="home-header__title-item">
                    <h1 class="home-header__title"><span class="home-header__title-green">Pay</span> and
                         <span class="home-header__title-blue">follow</span> the process in your personal
                         cabinet.
                    </h1>
                    <p class="home-header__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>

               <div class="home-header__title-item">
                    <h1 class="home-header__title">Convenient and <span class="home-header__title-green">fast
                              system</span>of <span class="home-header__title-blue">boosting</span>
                         accounts.</h1>
                    <p class="home-header__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                         eiusmod
                         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
               </div>
          </div>
     </div>
</section>