<aside class="order">
     <h3 class="order__head">Your Order</h3>
     <div class="order-item">
          <span class="order-item__title">Total</span>
          <img class="order-item__label" src="../img/svg/checkout/checkout-form__dicount-lable.svg" alt="order__label">
          <div class="order-item__wrapper-total">
               <span class="order-item__coast order-item__coast_s-36">1294$</span>
               <span class="order-item__coast-discounter">1623$</span>
          </div>
     </div>
     <div class="order-item">
          <div class="order-item__wrapper">
               <div class="order-item__sprite-img">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__level10.svg" alt="bg-blue">

               </div>
               <div class="order-item__description">
                    <div class="order-item__title">Account FaceIt <br> 8-10 LVL 2010</div>
                    <div class="order-item__coast">274$</div>
               </div>
          </div>
     </div>
     <div class="order-item">
          <div class="order-item__wrapper">
               <div class="order-item__sprite-img">
                    <img class="order-item__sprite" src="../img/checkout/order/order__bg-blue.webp" alt="bg-blue">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__b-.svg" alt="ESEA-B-">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__a+.svg" alt="ESEA-A+">
               </div>
               <div class="order-item__description">
                    <div class="order-item__title">ESEA Boosting <br>from B- to A+</div>
                    <div class="order-item__coast">712$</div>
               </div>
          </div>
     </div>
     <div class="order-item">
          <div class="order-item__wrapper">
               <div class="order-item__sprite-img">
                    <img class="order-item__sprite" src="../img/checkout/order/order__bg-blue.webp" alt="bg-blue">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__b-.svg" alt="ESEA-B-">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__5win.svg" alt="ESEA-5win">
               </div>
               <div class="order-item__description">
                    <div class="order-item__title">ESEA Wins Boosting <br> B- 5 wins</div>
                    <div class="order-item__coast">62$</div>
               </div>
          </div>
     </div>
     <div class="order-item">
          <div class="order-item__wrapper">
               <div class="order-item__sprite-img">
                    <img class="order-item__sprite" src="../img/checkout/order/order__bg-red.webp" alt="bg-blue">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__level3.svg" alt="level-3">
                    <img class="order-item__sprite" src="../img/svg/checkout/checkout-form__level10.svg" alt="level-10">
               </div>
               <div class="order-item__description">
                    <div class="order-item__title">ESEA Wins Boosting <br> B- 5 wins</div>
                    <div class="order-item__coast">62$</div>
               </div>
          </div>
     </div>

     <div class="order-item">
          <span class="order-item__title">Options</span>
          <div class="options-item options-item_border-bottom">
               <span class="options-item__options">Boost Streaming</span>
               <span class="options-item__options-percent">+35%</span>
          </div>
          <div class="options-item">
               <span class="options-item__options">Something</span>
               <span class="options-item__options-percent">+62%</span>
          </div>
     </div>
     <div class="order-item">
          <span class="order-item__title">Promocode</span>
          <form class="promocode-order" method="post">
               <input type="text" for="promocode" placeholder="promocode">
               <button type="submit">
                    <img src="../img/checkout/order/order__button.svg" alt="">
               </button>
          </form>
     </div>
</aside>